framework:
    messenger:
        transports:
#            telegram_updates:
#                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
#                options:
#                    exchange:
#                        name: telegram_updates
#                        type: direct
#                        default_publish_routing_key: telegram_update
#                    queues:
#                        telegram_updates_queue:
#                            binding_keys:
#                                - telegram_update
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                retry_strategy:
                    max_retries: 3
                    delay: 1000
                    multiplier: 2

        # Маршрутизация сообщений к транспортам
        routing:
            'Dinargab\LibraryBot\Domain\Event\Events\BookAddedEvent': async
            'Dinargab\LibraryBot\Domain\Event\Events\BookDeletedEvent': async
            'Dinargab\LibraryBot\Domain\Event\Events\BookLentEvent': async
            'Dinargab\LibraryBot\Domain\Event\Events\BookReturnedEvent': async
            'Dinargab\LibraryBot\Domain\Event\Events\LendingOverdueEvent': async
            'Dinargab\LibraryBot\Domain\Event\Events\LendingDeadlineNearEvent': async
            'Dinargab\LibraryBot\Domain\Event\Events\SuggestionAddedEvent': async
            'Dinargab\LibraryBot\Domain\Event\Events\SuggestionProcessedEvent': async
